server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres-db:5432/card_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

app:
  jwt:
    secret: "9dXn1yP0eP7M4uPvvUqhvHqQ5eG3rb6TgTgF3KxQ1nq7wYFf1JgJ4M4n2qE5n6s1v8QyY4a1Lr9b0c2d3e4f5g6h7i8j9k0l"
    expiration-ms: 300000

  encryption:
    secret: "${ENCRYPTION_KEY:1234567890123456}"


  masking:
    card-number-visible-digits: 4
    card-number-mask-char: '*'

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
